
.materia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.625em;
    border-radius: 0.3125em;
    padding: 0.3125em;
    align-items: center;
    color: white;
    background-color: rgb(9, 31, 51);
    width: 20%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.materiaSection {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.materiaLogo {
    width: 20%;
}
.icon {
    width: 30%;
}

.materia:hover {
    transform: scale(1.05);
}

