#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #1C1C1C;
}

.containerPerfil {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    gap: 50px;
    margin-bottom: 60px;
}

.perfilStats {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.perfilTop {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: start;
    align-items: center;
    font-size: 20px;
}

.imgContainer {
    width: 20%;
}

.imgContainer img {
    width: 100%;
}

.caracteristicasGerais {
    border: 1px solid white;
    border-radius: 7px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.status {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.alunoInfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
gap: 10%;
    font-size: 20px;
    align-items: center;
}


.alunoStats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 1px solid red;
}

.materiasName {
    width: 20%;
    padding: 5px;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.materiasStats {
    width: 80%;
    border: 1px solid white;
    padding: 5px;
}

