
.aluno1 {
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 1rem;
    padding: 0.3125em;
    cursor: pointer;
    border-radius: 0.3125em;
    transition: transform 0.3s ease-in-out;
}

.aluno1:hover {
    transform: scale(1.05);
}

.aluno1 img {
    width: 20%;
    border-radius: 50%;
}

.aluno {
    width: 90%;
    background-color: gray;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    padding: 0.3125em;
    color: black;
    border-radius: 0.3125em;
    transition: transform 0.3s ease-in-out;
}

.aluno:hover {
    transform: scale(1.02);
}

.aluno img {
    width: 20%;
    border-radius: 50%;
}