.btnLogin {
  background-color: #00E5FF;
  width: 40%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid transparent;
  cursor: pointer;
  padding:  0.625em;
  border-radius: 0.3125em;
  transition: transform 0.3s ease-in-out;
}

.btnLogin:hover {
  transform: scale(1.05);
}

.form a {
  font-size: 0.875em;
}



